<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Cross Browser Testing" parallel="tests">

	<test name="EdgeTest">
		<parameter name="browser" value="edge"></parameter>
		<classes>
			<class name="pages.SignInPageTest">

			</class>
		</classes>
	</test> 

	<test name="FirefoxTest">
		<parameter name="browser" value="Firefox" />
		<classes>
			<class name="pages.SignInPageTest">
			</class>
		</classes>
	</test>

	<test name="ChromeTest">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="pages.SignInPageTest">
			</class>
		</classes>
	</test>


</suite>
